body, h1, h2 {
    margin: 0;
    padding: 0;
}

header {
    text-align: center; /* Centra el contenido horizontalmente */
    background: white;
    padding: 15px;
    border-bottom: 1px solid #0d0a11;
    display: flex;
    justify-content: space-between; /* Alinear los elementos horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 10px; /* Espacio alrededor del encabezado */
}
.header-content {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #000000;
    margin-left: 43%;
    margin-right: 40px;
}

h2{
    margin-top: 30px;
}

body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #000000, #2e1449);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.carrito {
    display: flex;
    align-items: center;
    
}
.logo-carrito {
    width: 50px;
    margin-top: 12px;
    margin-right: 73px;
    margin-bottom:  -13px;
    cursor: pointer;
    opacity: 1; /* Establece la opacidad inicial en 1 (completamente visible) */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Agrega una transición suave para transform y opacidad */
}

.logo-carrito:hover {
    transform: scale(1.1); /* Escalar la imagen al 110% del tamaño original */
    opacity: 0.8; /* Reduce la opacidad al 80% en hover (efecto de fade out) */
}


.texto-carrito {
    font-family: Calibri;
    font-weight: bold;
    margin: 0;
    color: #000000;
}

button{
    background-color: #0f141b;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color:#fff;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 40px;
    text-align: center;
    display: inline-block;
}

button:hover{
    background-color: #491d66;
    transform: scale(1.05);
    transition: transform 0.7s ease;
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    transform: translateY(100%); /* Desplaza el body hacia abajo */
    animation: aparecer 1s ease forwards;
    opacity: 0; /* El body está oculto al principio */
    transition: opacity 0.5s; /* Agrega una transición suave */
}
/* Define la animación gradual para el body */
@keyframes aparecer {
    from {
        transform: translateY(100%); /* El body está completamente desplazado hacia abajo */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* El body vuelve a su posición original */
        opacity: 1;
    }
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
    border-radius: 20px;
    transition: transform 0.7s ease;
}
.contenedor>div:hover{
    background: linear-gradient(to bottom, #ffffff, #ffffff, #ffffff, #ffffff, #e4cefd);
    transform: scale(1.05);

}

.info-producto{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.info-producto .precio{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.imagen-producto {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


/* CSS para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


/* Estilo para el modal del carrito */
#cart-modal {
    background: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
}

.modal-content {
    background-color: #fff; /* Fondo blanco */
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.modal-header {
    background-color: #007bff; /* Fondo azul */
    color: #fff; /* Texto blanco */
    border-radius: 10px 10px 0 0;
}

.modal-title {
    font-size: 1.25rem;
}

.modal-body {
    padding: 15px;
}

.list-group-item {
    border: none;
}

.list-group-item:last-child {
    border-bottom: 1px solid #dee2e6; /* Línea divisoria en el último elemento de la lista */
}

.modal-footer {
    border-top: none;
    border-radius: 0 0 10px 10px;
}

/* Estilo para los botones en el modal */
.btn {
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff; /* Fondo azul */
    border-color: #007bff; /* Borde azul */
}

.btn-primary:hover {
    background-color: #0056b3; /* Fondo azul más oscuro al pasar el cursor */
    border-color: #0056b3; /* Borde azul más oscuro al pasar el cursor */
}

.btn-danger {
    background-color: #dc3545; /* Fondo rojo */
    border-color: #dc3545; /* Borde rojo */
}

.btn-danger:hover {
    background-color: #c82333; /* Fondo rojo más oscuro al pasar el cursor */
    border-color: #bd2130; /* Borde rojo más oscuro al pasar el cursor */
}

.btn-secondary {
    background-color: #6c757d; /* Fondo gris */
    border-color: #6c757d; /* Borde gris */
}

.btn-secondary:hover {
    background-color: #545b62; /* Fondo gris más oscuro al pasar el cursor */
    border-color: #545b62; /* Borde gris más oscuro al pasar el cursor */
}

.btn-close {
    color: #fff; /* Icono de cierre en la esquina superior derecha */
}
